<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>

        <param-name>data-directory</param-name>
        <param-value>.\FootballCardsCollection\web</param-value>

    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.collection.web.InitializeCollection</listener-class>
    </listener>
    <servlet>
        <servlet-name>ListCollectionServlet</servlet-name>
        <servlet-class>com.collection.view.ListCollectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCardServlet</servlet-name>
        <servlet-class>com.collection.controller.AddCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessServlet</servlet-name>
        <servlet-class>com.collection.view.SuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorPageServlet</servlet-name>
        <servlet-class>com.collection.view.ErrorPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCardFormServlet</servlet-name>
        <servlet-class>com.collection.view.AddCardFormservlet</servlet-class>
        <init-param>
            <param-name>league-list</param-name>
            <param-value>FIFA 365, UEFA CHAMPIONS LEAGUE, EKSTRAKLASA</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCollectionServlet</servlet-name>
        <url-pattern>/list_collection.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCardServlet</servlet-name>
        <url-pattern>/add_card.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessServlet</servlet-name>
        <url-pattern>/success.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorPageServlet</servlet-name>
        <url-pattern>/error.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCardFormServlet</servlet-name>
        <url-pattern>/add_card.view</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
